html, body {
    margin: 0;
    padding: 2px 2px 2px 2px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    background-color: gold;
}

.top-bar {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
   font-size: 35px;
   position: absolute;
   padding: 1px 1px 1px 20px;
   z-index: 3;
   color: red;
   font-weight: bold;
}

.top-menu {
   background-color: green;
   position: absolute;
   top: 85px;
   z-index: 2;
   width: 100%;
}

.top-menu ul {
    list-style-type: none;
    font-size: 25px; 
    float: right;
    margin-right: 20px;
}

.top-menu li {
    display: inline-block;
}

.top-menu li a:link, .top-menu li a:visited {
    color: gray 
    text-decoration: none;
    padding: 20px 20px 20.5px 20px;
}

.top-menu li a:hover {
    background-color: red;
}

.current-page-link {
    background-color: palevioletred;
}

.page-content {
    position: relative;
    top: 145px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    z-index: 1;
}

.main-section {
    padding: 12px 20px 12px 20px;
}

.main-section h1, .main-section h2 {
    color: gray;
}

.main-section figure, .main-section img {
    display: block;
    margin: auto;
    width: 800px;
}

.footer {
    position: relative;
    top: 140px;
    z-index: 3;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#3f3c3c;
}

.footer-content {
    padding: 7px 7px 7px 20px;
    color: red;
}

.footer-content a:link {
    color: red;
    text-decoration: none;
}
